header {
    .corner-lines {
        height: 203px;
        width: 203px;
        position: fixed;
        top: 0;
        left: 0;
        margin: 32px;
        z-index: 9999;

        .logo {
            border: none;
            outline: none;
            background: none;
            cursor: pointer;

            &.navOpen img {
                transform: scale(1.1);
                transition: transform 1.2s cubic-bezier(.075, .82, .165, 1);
            }

            img {
                width: 64px;
                transform: rotate(-45deg);
                margin: 32px;
                transition: transform 1.2s cubic-bezier(.075, .82, .165, 1);
                transform-origin: center;
            }
        }

        .lines {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;

            div {
                background: #262626;
                display: block;
                position: absolute;

                &:nth-child(1) {
                    top: 0;
                    left: 50px;
                    width: calc(100% - 50px);
                    height: 2px;
                }

                &:nth-child(2) {
                    left: 0;
                    top: 50px;
                    height: calc(100% - 50px);
                    width: 2px;
                }

                &:nth-child(3) {
                    left: 0;
                    top: -20px;
                    height: 70px;
                    width: 2px;
                    transform: rotate(45deg);
                    transform-origin: bottom;
                }
            }
        }
    }
}